body{
    background-color: rgb(241, 242, 246);
}

#view {
    position: relative;
}

#preview {
    width: 100%;
    height: auto;
}

#full {
    width: 4096px;
    height: 4096px;
    display: none;
}

#canvas {
    display: none;
}

#img_save {
    display: none;
}

#eid {
    display: none;
}
