{% extends 'frame.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <label>Title</label>
            <input type="text" class="form-control" placeholder="Checkin Title">
        </div>
        <div class="panel-body">
            <label>Description</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-default" formaction="/event" >Close</button>
            <button type="submit" class="btn btn-success" formaction="/event/add">Add</button>
        </div>
    </div>
</form>
{% endblock %}