{% extends 'frame.html' %}

{% block content %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <label>Title</label>
        <input type="text" class="form-control" placeholder="Checkin Title">
    </div>
    <div class="panel-body">
        <label>Description</label>
        <textarea class="form-control" rows="3"></textarea>
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-default">Close</button>
        <button type="button" class="btn btn-success">Add</button>
    </div>
</div>

{% endblock %}