{% extends 'frame.html' %}

{% block content %}

{% if detail.status == DONE %}
<div class="panel panel-success">
{% else %}
<div class="panel panel-primary">
{% endif %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ detail.title }}</h3>
    </div>
    <div class="panel-body">
        {{ detail.description }}
    </div>
    {% if detail.picture %}
    <div class="panel-body">
        <div id="take_div">
            <label for="source">Source: </label>
            <select id="source"></select>
            <button id="take" type="button" class="btn btn-primary btn-block">Take</button>
            <div id="view">
                <video id="preview"></video>
                <video id="full"></video>
                <canvas id="canvas"></canvas>
            </div>        
        </div>
        <div id="retake_div">
            <button id="retake" type="button" class="btn btn-primary btn-block">Retake</button>
            <img id="photo" src="" class="img-rounded img-responsive">
        </div>
        <form method="post">
        {% csrf_token %}
        <input id="img_save" type="text" name="img_save" value=""/>
        <button id="done" type="button" class="btn btn-primary btn-success" formaction="/event/update/?eid={{ detail.eid }}">Done</button>
        </form>
    </div>
    {% else %}
    <div class="panel-body">
        <img src="{{ detail.picture }}" class="img-rounded img-responsive">
    </div>
    {% endif %}
</div>

{% endblock %}