{% extends 'frame.html' %}

{% block content %}
<div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel-heading">Progress</div>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ complete }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ complete }}%">
                <span class="sr-only">{{ complete }}% Complete</span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">List</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in all %}
                        <tr>
                            <td>{{ event.ueid }}</td>
                            <td>{{ event.title }}</td>
                            <td>{{ event.description }}</td>
                            <td>{{ event.status }}</td>
                            <td><a href="/event/detail?eid={{ event.eid }}"><i
                                        class="glyphicon glyphicon-info-sign"></i>&nbsp;&nbsp;Detail</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}