{% extends 'frame.html' %}

{% block content %}
<div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel-heading">Progress</div>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent }}%">
                <span>{{ complete }}/{{ total }} Completed</span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">List</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Check-In</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in all %}
                        <tr>
                            <td>{{ event.ueid }}</td>
                            <td>{{ event.title }}</td>
                            <td>{{ event.description }}</td>
                            {% if event.status == "DONE" %}
                            <td><i class="glyphicon glyphicon-ok-sign"></i>&nbsp;&nbsp;&nbsp;&nbsp;Done at {{ event.checkin_time }}</td>
                            {% else %}
                            <td><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;&nbsp;&nbsp;&nbsp;Added</td>
                            {% endif %}
                            <td><a href="/event/detail?eid={{ event.eid }}">&nbsp;<i
                                        class="glyphicon glyphicon-info-sign"></i>&nbsp;&nbsp;Detail</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}